<!-- Page top Section end -->
<section class="page-top-section set-bg" data-setbg="../../img/page-top-bg/2.jpg">
    <div class="container">
        <h2>About us</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" asp-controller="Home" asp-action="Index">Home</a>
            <span class="sb-item active">About us</span>
        </nav>
    </div>
</section>
<!-- Page top Section end -->
<!-- About Section end -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="~/img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="about-text">
                    <h2>About the site</h2>
                    <p>This site uses the NewsAPI to show you the top news of the day. On the Home page you can choose from which country you want to see the news. On the side you will find a search bar, if you choose to search by a keyword and you have the option in which language you want to search. On the search results page you will find the same tags for you to choose from which country you want to see the latest news, you will be redirected to the home page. The top news and search results are displayed three at a page with the option to visit the original site where the news was published, also you can download a pdf file that contains all the results of the top news or the searched news.</p>
                    <a asp-controller="Home" asp-action="Index" class="site-btn">Start your tour</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section end -->
<!-- Review Section end -->
<section class="review-section spad">
    <div class="container">
        <div class="text-center text-white mb-5 pb-2">
            <h2>What Our Clients Say</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua.  Class aptent taciti sociosqu ad litora torquent per conubia.</p>
                    <h6>Maria Smith, <span>25 min ago</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua.  Class aptent taciti sociosqu ad litora torquent per conubia.</p>
                    <h6>Marta Black, <span>25 min ago</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse po-tenti. Ut gravida mattis magna, non varius lorem sodales nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <h6>Carl Brown, <span>25 min ago</span></h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="review-item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>This is the best site for news ever. It was created from the smartest boy, love you so much. <i class="fa fa-heart-o" aria-hidden="true" style="color: red"></i> <i class="fa fa-heart-o" aria-hidden="true" style="color: red"></i> <i class="fa fa-heart-o" aria-hidden="true" style="color: red"></i></p>
                    <h6>Mom, <span>Just now</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review Section end -->
<!-- Authorities Section end -->
<section class="authorities-section spad">
    <div class="container">
        <div class="text-center">
            <h2>Sources used to build this site</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="authoritie-item">
                    <img src="~/img/brands/newsapi_logo.png" alt="" style="width: 160px; height: auto;">
                    <h4>Search worldwide news with code</h4>
                    <p>News API is a simple and easy-to-use API that returns JSON metadata for headlines and articles live all over the web right now.</p>
                    <a href="https://newsapi.org/" class="readmore" target="_blank">Check it out <img src="~/img/arrow.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="authoritie-item">
                    <img src="~/img/brands/csharpcorner_logo.png" alt="">
                    <h4>Online community for developers</h4>
                    <p>C# Corner, headquartered in Philadelphia, PA, is an online global community of 3 million software developers. C# Corner serves 5+ million visitors with 9 million page views each month. We publish the latest news and articles on cutting-edge software development topics. Developers share their knowledge and connect via content, forums, and chapters.</p>
                    <a href="https://www.c-sharpcorner.com/" class="readmore" target="_blank">Check it out <img src="~/img/arrow.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="authoritie-item">
                    <img src="~/img/brands/codepen_logo.png" alt="">
                    <h4>The best place to build, test, and discover front-end code</h4>
                    <p>CodePen is a social development environment for front-end designers and developers. Build and deploy a website, show off your work, build test cases to learn and debug, and find inspiration.</p>
                    <a href="https://codepen.io/" class="readmore" target="_blank">Check it out <img src="~/img/arrow.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="authoritie-item">
                    <img src="~/img/brands/colorlib_logo.png" alt="" style="width: 250px; height: auto;">
                    <h4>Free WordPress Themes</h4>
                    <p>Colorlib was founded in 2013 by Aigars Silkalns to serve as resource where he could show his results from learning web development. It started as learning experiment but soon turned into more than that. Millions of pageviews a month, tons of new themes and templates are added on daily bases and we have just started.</p>
                    <a href="https://colorlib.com/" class="readmore" target="_blank">Check it out <img src="~/img/arrow.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Authorities Section end -->
<!-- Score Section end -->
<section class="score-section text-white set-bg" data-setbg="../../img/score-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <h2>Colorlib</h2>
                <h4>This site was created using a template from Colorlib</h4>
                <a href="https://colorlib.com/" class="site-btn sb-big" target="_blank">check it out</a>
            </div>
        </div>
        <img src="~/img/hand.png" alt="" class="hand-img">
    </div>
</section>
<!-- Score Section end -->
