@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Sources used:</p>
<ul>
    <li>
        <a href="https://newsapi.org">https://newsapi.org</a>
    </li>
    <li>
        <a href="https://startbootstrap.com">https://startbootstrap.com</a>
    </li>
    <li>
        <a href="https://codepen.io/huange/pen/rbqsD">https://codepen.io/huange/pen/rbqsD</a>
    </li>
    <li>
        <a href="https://www.c-sharpcorner.com/article/create-a-pdf-file-and-download-using-Asp-Net-mvc/">https://www.c-sharpcorner.com/article/create-a-pdf-file-and-download-using-Asp-Net-mvc/</a>
    </li>
</ul>