<!DOCTYPE html>
<html lang="en">
<head>
    <title>NEWS2GO</title>
    <meta charset="UTF-8">
    <meta name="description" content="loans HTML Template">
    <meta name="keywords" content="loans, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section -->
    <header class="header-section">
        <a href="index.html" class="site-logo">
            <img src="img/NEWS2GO-logo1.png" style="width: 159px; height: auto;" alt="">
        </a>
        <nav class="header-nav">
            <ul class="main-menu">
                <li><a asp-controller="Home" asp-action="Index" class="">Home</a></li>
                <li><a asp-controller="Home" asp-action="AboutUs" class="">About Us</a></li>
                <li><a asp-controller="Home" asp-action="Privacy" class="">Privacy</a></li>
                <li><a asp-controller="Home" asp-action="Contact" class="">Contact</a></li>
            </ul>
            <div class="header-right">
                <a asp-controller="Home" asp-action="Contact" class="hr-btn"><i class="flaticon-029-telephone-1"></i>Call us now! </a>
                <div class="hr-btn hr-btn-2">+359 123 456 789</div>
            </div>
        </nav>
    </header>
    <!-- Header Section end -->

    @RenderBody()

    <!-- Footer Section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="footer-widget col-lg-3 col-sm-4">
                    <h2>Sitemap</h2>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="AboutUs">About us</a></li>
                        <li><a asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                        <li><a asp-controller="Home" asp-action="AboutUs">Sources used</a></li>
                    </ul>
                </div>
                <div class="footer-widget col-lg-3 col-sm-4">
                    <h2>Social Medias</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official" style="color: orangered"></i>  Facebook</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" style="color: orangered"></i>  Instagram</a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square" style="color: orangered"></i>  Linkedin</a></li>
                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-square" style="color: orangered"></i>  Pinterest</a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square" style="color: orangered"></i>  Twitter</a></li>
                    </ul>
                </div>
                <div class="footer-widget col-lg-3 col-sm-4">
                    <h2>About site</h2>
                    <p>
                        This site was made as an candidate project for a company to just display Top News of the day using the NewsAPI.org and make a download button, but it quickly catched my curiosity. So I tried to extended and make it more functional with the search option, location, mail contact and more.
                    </p>
                </div>
            </div>
            <p>This web site is powered by <a href="https://newsapi.org/pricing">NewsAPI.org</a>, for more information just follow the link by pressing the name. The design template is the free download version of LOANS2GO, which you can find on the following link: <a href="https://colorlib.com/wp/template/loans2go/" target="_blank">LOANS2GO</a> </p>
            <div class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- Footer Section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>